:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #a87fce 30%, #7194f8);
}

body .is-home {
  position: relative;
  z-index: 0;
  overflow: hidden; /* 防止動畫層外露 */
  margin-bottom: 20px;
}

.VPNavBarTitle {
  user-select: none;
}

body.hide-locale-switcher .VPNavBarTranslations,
body.hide-locale-switcher .VPNavScreenTranslations,
body.hide-locale-switcher .group.translations {
  display: none !important;
}

body .is-home::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(to bottom, #c493d04d, transparent 70%);
  animation: breathing-layer 6s ease-in-out infinite;
  pointer-events: none;
  opacity: 0.2;
  transition: opacity 0.3s ease-in-out;
}

body .VPHome {
  margin-bottom: 30px !important;
}

body .VPFooter {
  background-color: var(--vp-c-bg-alt) !important;
}

/* 深色模式 */
.dark body .is-home::before {
  background: linear-gradient(to bottom, #c493d047, transparent 70%);
}

/* 呼吸動畫：只做 opacity，不用改 gradient */
@keyframes breathing-layer {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
}
